In [1]:
import os
from google.cloud import bigquery
from IPython.display import display

# 環境変数に設定
cwd = os.getcwd()
credentials = 'primal-cascade-246007-b46f8225bdf2.json'
key_path = os.path.join(cwd,credentials)
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = key_path

In [2]:
project_id = 'primal-cascade-246007'
dataset_id = 'kaggle_testdata'
table_id = 'train_table'

client = bigquery.Client(project=project_id)

sql = f"""
select date, store, item
from {dataset_id}.{table_id}
limit 100
"""

df = client.query(sql).to_dataframe()
display(df)

          date  store  item
0   2013-12-30      1    27
1   2013-02-25      1     5
2   2013-11-04      1     5
3   2015-11-09      1     5
4   2016-01-11      1     5
..         ...    ...   ...
95  2014-12-29      1     5
96  2014-12-30      1     5
97  2015-01-10      1     5
98  2015-10-13      1     5
99  2016-02-08      1     5

[100 rows x 3 columns]